@media screen and(max-width:768px) {
	.cards {
		@include flex(center, center);
		flex-direction: column;
		.mid {
			display: flex;
			flex-direction: column;
		}
		.card {
			height: 25vh;
			width: 90vw;
			box-shadow: 0px 7px 10px 4px rgba(1, 68, 68, 0.096);
			background-color: white;
			border-radius: 7px;
			display: block;
			padding: 5vw;
			position: relative;
			margin: 4% 0;
			img {
				position: absolute;
				right: 0;
				bottom: 0;
				transform: translate(-50%, -50%);
			}
		}
		h3 {
			color: $veryDarkBlue;
			margin-bottom: 2%;
		}
		p {
			color: $grayishBlue;
		}
	}
	.wrapper {
		@include flex(center, center);
		height: 100%;
		width: 100%;
		padding: 4%;
		flex-direction: column;
		background-color: $veryLightGray;
		article {
			display: flex;
			flex-direction: column;
			header {
				display: flex;
				justify-self: center;
				flex-direction: column;
				h1 {
					text-align: center;
					font-weight: 200;
					font-size: 1.7em;
					color: $veryDarkBlue;
				}
				h2 {
					text-align: center;
					font-size: 1.7em;
					color: $veryDarkBlue;
				}
			}
			p {
				font-size: 15px;
				width: 90vw;
				margin: auto auto;
				text-align: center;
				color: $grayishBlue;
			}
		}
	}
}
